bin/
obj/
*.user
*.suo
*.cache
*.log
.vs/

appsettings.Development.json
appsettings.Production.json

packages/
.nuget/

.idea/
.vscode/
*.sln.DotSettings.user
.ionide/
*.sln.user


node_modules/
dist/
dist-ssr/
*.local

.DS_Store
Thumbs.db
.cache/

*.dll
*.pdb
*.exe